absl-py==1.3.0
attrs==22.1.0
importlib-metadata==5.0.0
iniconfig==1.1.1
numpy==1.21.6
ortools==9.4.1874
packaging==21.3
pandas==1.3.5
pluggy==1.0.0
protobuf==4.21.8
py==1.11.0
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
pytz==2022.5
-e git+https://github.com/PatrickBrayPersonal/rendezvous.git@61086e08511879a01d03c33f7a0c3f3309de6125#egg=rendez
six==1.16.0
tomli==2.0.1
typing_extensions==4.4.0
zipp==3.9.0
